#box{
    background:#4c5c5c;
}

#container{
    min-height:100%;
    position:relative;
}

#content{
    margin-left: 1.4em;
    margin-top: 1.2em;
}

#footer{
    /* Overrides sticky-footer */
    min-width:1290px;
    background: #FFEECC; 
    padding-top: 1em;
    margin-top: -90px;
}
#footer a {
    text-align:center;
    color: teal;
    text-decoration:none;
}
#footer a:hover {
    color: #4C5C5C;
}
#footer span{
    text-align:center;
}

#header{
    min-width: 1290px;
    background: #4c5c5c;
}
#header h1{
    color: white;
    font-size: 1.9em;
    margin-top: .4em;
    margin-left: .7em;
}

#log {
    overflow:auto;
    max-height: 630px;
}

#main{
    padding-bottom: 160px;
}

#navigation a{
    padding-top:.5em;
    padding-bottom: .4em;
    vertical-align:middle;
    text-decoration: none;
}
#navigation span {
    font-size: .8em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: .7em;
    padding-bottom: .7em;
    border-bottom-left-radius: .6em;
    border-bottom-right-radius: .6em;
    color:black;
}
#navigation span:hover {
    background:#DDDDD3;
}

table th{
    font-size:1.0em;
}
table td{
    font-size:.9em;
}
#table_headers {
    font-size:1.0em;
}
tr.alt{
    background:#FFEECC;
}

#wrap a{
    color: teal;
    text-decoration: none;
}
#wrap a:hover {
    color: #4C5C5C;
}




