<html xmlns="http://www.w3.org/1999/xhml" xml:lang="en" lang="en">

  <head>
    <title>Netshed | Network Engineering</title>
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/base.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/banner.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/screen.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/print.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/ie.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/sticky_footer.css" />
    <script type="text/javascript" src="/site_media/javascripts/jquery-min.js" ></script>
  </head>

  <body style="background:#FFFFFF;">

    <div id="wrap">

      <div id="banner">
        <div class="container">
            <div class="span-32 last">
                {% include "banner.inc" %}
            </div>
        </div>
      </div>

      <div id="header">
        <div class="container">
            <div class="span-32 last">
                <h1>Network Engineering</h1>
            </div>
        </div>
      </div>

      <div id="main"> 
        <div class="container">
          <div class="span-32 last">
            <div id="navigation">
                <a href="/"><span>Home</span></a>
                <a href="/dhcp"><span>DHCP</span></a>
                <a href="/vpn"><span>VPN</span></a>
                <a href="/cca"><span>Cisco Clean Access</span></a>
                <a href="/greylist"><span>Greylist</span></a>
                <a href="/header_reject"><span>Header Reject</span></a>
                <a href="/aruba"><span>Aruba</span></a>
                <a href="/named"><span>BIND Zone Transfer</span></a>
                <a href="/virtualusers"><span>Virtual Users</span></a>
                <a href="/transport"><span>SMTP Transport File</span></a>
                <a href="/firewall"><span>Firewall</span></a>
                <a href="/security"><span>Security Report</span></a>
                <a href="/logout"><span>Logout</span></a>
            </div>
            <br/>
            <hr/>

            <div id="content">
                {% block content %}
                {% endblock %}

                {% if loglines %}
                    <div id="log">
                        <table>
                           <th>{{loglines|length}} results for {{query}} ({{time}} seconds)</th> 
                           {% for logline in loglines %}
                               <tr><td>{{logline}}<br/></td></tr>
                           {% endfor %}
                        </table>
                    </div>
                {% else %}
                    {% if query and not db_results %}
                        <b>No results found for {{query}}</b>
                    {% endif %}
                {% endif %}


            </div>
          </div>
        </div>
      </div>

    </div>

    <div id="footer">
        <a href="http://oregonstate.edu/"><span>Oregon State University</span></a> -
        <a href="http://oregonstate.edu/net"><span>Network Engineering</span></a><br/>
        <span>Netshed - DCA Tools</span><br/>
        <span>All Rights Reserved, Copyright © 2011</span>
    </div>

  </body>
</html>


